<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <gatewayFactory>
      <analyticsGateway type="Sitecore.Support.EmailCampaign.Core.Gateways.DefaultAnalyticsGateway, Sitecore.Support.113156" singleInstance="true" />
    </gatewayFactory>
  </sitecore>
</configuration>